@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria Sans:wght@400&display=swap");

.grid-container {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(128, 28.4375px);

  background-color:rgba(165.9952175617218,177.86254316568375,255.0,1.0);
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  margin:0;
  padding:0;
  }
 
.grid-item {
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.text31635 {
	font-style: Medium;
	font-weight: 500;
	font-size: 2.1967049425861207vw;
	font-family: Inter;
	text-align: center;
	line-height: 53px;
	color: rgba(54.43268336355686,54.43268336355686,54.43268336355686,1.0);
	grid-column-start: 22;
	grid-column-end: 46;
	grid-row-start: 16;
	grid-row-end: 19;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: center;
	justify-content: stretch;
}


.text31637 {
	font-style: Extra Bold;
	font-weight: 800;
	font-size: 3.844233649525711vw;
	font-family: Inter;
	text-align: center;
	line-height: 93px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 25;
	grid-column-end: 42;
	grid-row-start: 10;
	grid-row-end: 13;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: center;
	justify-content: stretch;
}


.form316457 {
	grid-column-start: 24;
	grid-column-end: 51;
	grid-row-start: 22;
	grid-row-end: 50;
  }
 
  .submitbtnform316457 {
    background-color: rgba(75.02882078289986,75.02882078289986,75.02882078289986,1.0);
    border-radius: 8px;
    width:200px;
    height:50px;
    margin-top: 10px;
    position: relative;
    left:  131.9230769230769px;
  }
.inputform316457 .p-inputtext{ 
  --p-inputtext-background:rgba(245.00000059604645,245.00000059604645,245.00000059604645,1.0);
  width: 527.6923076923076px;
  color: rgba(201.23750567436218,201.23750567436218,201.23750567436218,1.0);
}
.label316457{
  font-size: 33.0px;
  color: rgba(91.70192331075668,91.70192331075668,91.70192331075668,1.0);
}
    
.text31636 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.6475287069395905vw;
	font-family: Inria Sans;
	text-align: left;
	line-height: 40px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 7;
	grid-column-end: 14;
	grid-row-start: 27;
	grid-row-end: 48;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}

.container31633 {
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 18;
	grid-row-end: 56;
}

.container31634 {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 13;
	grid-row-end: 56;
}

