@import url("https://fonts.googleapis.com/css2?family=Inria Sans:wght@400&display=swap");

.component316718 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:4;
  margin:0;
  padding:0;
  background-color:rgba(52.471137419342995,52.26931504905224,52.26931504905224,1.0);

}
  
.grid-item-316718 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.text31636 {
	font-style:normal;
	font-weight: 600;
	font-size: 16px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: left;
	line-height: 40px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 7;
	grid-column-end: 20;
	grid-row-start: 16;
	grid-row-end: 40;
	display: flex;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	align-items: stretch;
	justify-content: stretch;
}

.container31633 {
	grid-column-start: 4;
	grid-column-end: 6;
	grid-row-start: 15;
	grid-row-end: 50;
}

.container31634 {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 12;
	grid-row-end: 56;
}

