@import url("//fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.component20983 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:27;
  background-color:rgba(158.48957151174545,158.48957151174545,158.48957151174545,255.0);
  grid-column-end:41;
  grid-row-start:57;
  box-shadow: 8px 22px 15px 12px  rgba(0.0,0.0,0.0,0.25);
  grid-row-end:68;
  border-radius:22.0px;
  margin:0;
  padding:0;
}
  
.grid-item {
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.textI20983205316 {
	font-style: Regular;
	font-weight: 400;
	font-size:40px;
	font-family: Inter;
	color: rgba(255.0,255.0,255.0,255.0);
	grid-column-start: 18;
	grid-column-end: 47;
	grid-row-start: 19;
	grid-row-end: 33;
	white-space: nowrap;
}

