@import url("//fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.grid-container {
  display:grid;
  grid-template-columns:repeat(16,1fr);
  grid-template-rows: repeat(48,minmax(49.666666666666664px,1fr));
  background-color:rgba(115.59992015361786,127.21662640571594,255.0,255.0);
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  margin:0;
  padding:0;
}
  
.grid-item {
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.container20222 {
	background-color: rgba(189.4614663720131,189.4614663720131,189.4614663720131,255.0);
	border-radius: 50.0px;
	grid-column-start: 5;
	grid-column-end: 13;
	grid-row-start: 6;
	grid-row-end: 22;
	display: grid;
	grid-template-columns: repeat(16,1fr);
	grid-template-rows: repeat(16,1fr);
}


.container20232 {
	background-color: rgba(255.0,255.0,255.0,255.0);
	grid-column-start: 3;
	grid-column-end: 16;
	grid-row-start: 4;
	grid-row-end: 13;
}


.text20022 {
	font-style: Regular;
	font-weight: 400;
	font-size:43px;
	font-family: Inter;
	color: rgba(40.23333549499512,40.23333549499512,40.23333549499512,255.0);
	grid-column-start: 5;
	grid-column-end: 14;
	grid-row-start: 8;
	grid-row-end: 10;
	white-space: nowrap;
}


.container20332 {
	background-color: rgba(255.0,96.8291325867176,96.8291325867176,255.0);
	grid-column-start: 5;
	grid-column-end: 13;
	grid-row-start: 26;
	grid-row-end: 38;
	display: grid;
	grid-template-columns: repeat(16,1fr);
	grid-template-rows: repeat(16,1fr);
}


.container20333 {
	background-color: rgba(179.27384823560715,255.0,38.639488220214844,255.0);
	grid-column-start: 2;
	grid-column-end: 16;
	grid-row-start: 3;
	grid-row-end: 15;
	display: grid;
	grid-template-columns: repeat(16,1fr);
	grid-template-rows: repeat(16,1fr);
}


.container20334 {
	background-color: rgba(45.20929768681526,255.0,48.705797865986824,255.0);
	grid-column-start: 3;
	grid-column-end: 16;
	grid-row-start: 4;
	grid-row-end: 15;
}

