@import url("//fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.grid-container {
  display:grid;
  grid-template-columns:repeat(16,1fr);
  grid-template-rows:repeat(16,1fr);
  background-color:rgba(115.59992015361786,127.21662640571594,255.0,255.0);
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  margin:0;
  padding:0;
}
  
.grid-item {
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.container20222 {
	background-color: rgba(189.4614663720131,189.4614663720131,189.4614663720131,255.0);
	grid-column-start: 5;
	grid-column-end: 13;
	grid-row-start: 3;
	grid-row-end: 8;
}


.text20022 {
	font-style: Regular;
	font-weight: 400;
	font-size:43px;
	font-family: Inter;
	color: rgba(40.23333549499512,40.23333549499512,40.23333549499512,255.0);
	grid-column-start: 8;
	grid-column-end: 10;
	grid-row-start: 5;
	grid-row-end: 6;
	white-space: nowrap;
}

