@import url("//fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.component22504 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:32;
  background-color:rgba(0.0,0.0,0.0,1.0);
  grid-column-end:35;
  grid-row-start:70;
  grid-row-end:75;
  border-radius:20.0px;
  margin:0;
  padding:0;
}
  
.grid-item-22504 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.textI2250422237 {
	font-style: Regular;
	font-weight: 400;
	font-size: 3.0303030303030303vw;
	font-family: Inter;
	text-align: center;
	line-height: 97px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 30;
	grid-column-end: 37;
	grid-row-start: 13;
	grid-row-end: 51;
	overflow-wrap: break-word;
	word-wrap: break-word;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}

