
.component2362628 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:None;
  grid-column-end:None;
  grid-row-start:None;
  grid-row-end:None;
  margin:0;
  padding:0;
  background-color:rgba(58.75625096261501,68.2855050265789,89.24999848008156,1.0);

  border-radius: 22.0px;
}
  
.grid-item-2362628 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  