@import url("https://fonts.googleapis.com/css2?family=Alatsi:wght@400&display=swap");

.component2548575 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:5;
  margin:0;
  padding:0;
  background-color:rgba(21.25000063329935,21.25000063329935,21.25000063329935,1.0);

}
  
.grid-item-2548575 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Alatsi:wght@400&display=swap");

.component2362644 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:5;
  margin:0;
  padding:0;
  background-color:rgba(21.25000063329935,21.25000063329935,21.25000063329935,1.0);

}
  
.grid-item-2362644 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Alatsi:wght@400&display=swap");

.component2362512 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:5;
  margin:0;
  padding:0;
  background-color:rgba(21.25000063329935,21.25000063329935,21.25000063329935,1.0);

}
  
.grid-item-2362512 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Alatsi:wght@400&display=swap");

.component2362441 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:5;
  margin:0;
  padding:0;
  background-color:rgba(21.25000063329935,21.25000063329935,21.25000063329935,1.0);

}
  
.grid-item-2362441 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  @import url("https://fonts.googleapis.com/css2?family=Alatsi:wght@400&display=swap");

.component2362346 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;
  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:5;
  margin:0;
  padding:0;
  background-color:rgba(21.25000063329935,21.25000063329935,21.25000063329935,1.0);

}
  
.grid-item-2362346 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  .container2362353 {
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 16;
	grid-row-end: 42;
}


.text2362354 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: left;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 6;
	grid-column-end: 10;
	grid-row-start: 28;
	grid-row-end: 36;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}


.container2362355 {
	grid-column-start: 31;
	grid-column-end: 63;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2402193 {
	grid-column-start: 38;
	grid-column-end: 59;
	grid-row-start: 25;
	grid-row-end: 42;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2402194 {
	grid-column-start: 3;
	grid-column-end: 11;
	grid-row-start: 9;
	grid-row-end: 57;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2402195 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 9;
	grid-column-end: 58;
	grid-row-start: 20;
	grid-row-end: 47;
}


.container2402196 {
	grid-column-start: 27;
	grid-column-end: 37;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2402197 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 11;
	grid-column-end: 55;
	grid-row-start: 13;
	grid-row-end: 52;
}


.smenu2575928 {
    grid-column-start: 56;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
  }
  
.container2621776 {
	grid-column-start: 1;
	grid-column-end: 12;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2621777 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 20;
	grid-column-end: 46;
	grid-row-start: 29;
	grid-row-end: 37;
	overflow-wrap: break-word;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}

.container2362353 {
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 16;
	grid-row-end: 42;
}


.text2362354 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: left;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 6;
	grid-column-end: 10;
	grid-row-start: 28;
	grid-row-end: 36;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}


.container2362355 {
	grid-column-start: 31;
	grid-column-end: 63;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2402193 {
	grid-column-start: 38;
	grid-column-end: 59;
	grid-row-start: 25;
	grid-row-end: 42;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2402194 {
	grid-column-start: 3;
	grid-column-end: 11;
	grid-row-start: 9;
	grid-row-end: 57;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2402195 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 9;
	grid-column-end: 58;
	grid-row-start: 20;
	grid-row-end: 47;
}


.container2402196 {
	grid-column-start: 27;
	grid-column-end: 37;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2402197 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 11;
	grid-column-end: 55;
	grid-row-start: 13;
	grid-row-end: 52;
}


.smenu2575928 {
    grid-column-start: 56;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
  }
  
.container2621776 {
	grid-column-start: 1;
	grid-column-end: 12;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2621777 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 20;
	grid-column-end: 46;
	grid-row-start: 29;
	grid-row-end: 37;
	overflow-wrap: break-word;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}

.container2362353 {
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 16;
	grid-row-end: 42;
}


.text2362354 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: left;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 6;
	grid-column-end: 10;
	grid-row-start: 28;
	grid-row-end: 36;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}


.container2362355 {
	grid-column-start: 31;
	grid-column-end: 63;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2402193 {
	grid-column-start: 38;
	grid-column-end: 59;
	grid-row-start: 25;
	grid-row-end: 42;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2402194 {
	grid-column-start: 3;
	grid-column-end: 11;
	grid-row-start: 9;
	grid-row-end: 57;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2402195 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 9;
	grid-column-end: 58;
	grid-row-start: 20;
	grid-row-end: 47;
}


.container2402196 {
	grid-column-start: 27;
	grid-column-end: 37;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2402197 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 11;
	grid-column-end: 55;
	grid-row-start: 13;
	grid-row-end: 52;
}


.smenu2575928 {
    grid-column-start: 56;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
  }
  
.container2621776 {
	grid-column-start: 1;
	grid-column-end: 12;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2621777 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 20;
	grid-column-end: 46;
	grid-row-start: 29;
	grid-row-end: 37;
	overflow-wrap: break-word;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}

.container2362353 {
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 16;
	grid-row-end: 42;
}


.text2362354 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: left;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 6;
	grid-column-end: 10;
	grid-row-start: 28;
	grid-row-end: 36;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}


.container2362355 {
	grid-column-start: 31;
	grid-column-end: 63;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2402193 {
	grid-column-start: 38;
	grid-column-end: 59;
	grid-row-start: 25;
	grid-row-end: 42;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2402194 {
	grid-column-start: 3;
	grid-column-end: 11;
	grid-row-start: 9;
	grid-row-end: 57;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2402195 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 9;
	grid-column-end: 58;
	grid-row-start: 20;
	grid-row-end: 47;
}


.container2402196 {
	grid-column-start: 27;
	grid-column-end: 37;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2402197 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 11;
	grid-column-end: 55;
	grid-row-start: 13;
	grid-row-end: 52;
}


.smenu2575928 {
    grid-column-start: 56;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
  }
  
.container2621776 {
	grid-column-start: 1;
	grid-column-end: 12;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2621777 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 20;
	grid-column-end: 46;
	grid-row-start: 29;
	grid-row-end: 37;
	overflow-wrap: break-word;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}

.container2362353 {
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 16;
	grid-row-end: 42;
}


.text2362354 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: left;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 6;
	grid-column-end: 10;
	grid-row-start: 28;
	grid-row-end: 36;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}


.container2362355 {
	grid-column-start: 31;
	grid-column-end: 63;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2402193 {
	grid-column-start: 38;
	grid-column-end: 59;
	grid-row-start: 25;
	grid-row-end: 42;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.container2402194 {
	grid-column-start: 3;
	grid-column-end: 11;
	grid-row-start: 9;
	grid-row-end: 57;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2402195 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 9;
	grid-column-end: 58;
	grid-row-start: 20;
	grid-row-end: 47;
}


.container2402196 {
	grid-column-start: 27;
	grid-column-end: 37;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

.container2402197 {
	min-width: 100%;
	min-height: 100%;grid-column-start: 11;
	grid-column-end: 55;
	grid-row-start: 13;
	grid-row-end: 52;
}


.smenu2575928 {
    grid-column-start: 56;
    grid-column-end: 65;
    grid-row-start: 1;
    grid-row-end: 64;
  }
  
.container2621776 {
	grid-column-start: 1;
	grid-column-end: 12;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text2621777 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 20;
	grid-column-end: 46;
	grid-row-start: 29;
	grid-row-end: 37;
	overflow-wrap: break-word;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}

