@import url("https://fonts.googleapis.com/css2?family=Alatsi:wght@400&display=swap");

.component2362644 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;

  background-color:rgba(21.25000063329935,21.25000063329935,21.25000063329935,1.0);

  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:5;
  margin:0;
  padding:0;
  z-index: 2;
}
  
.grid-item-2362644 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.component2362512 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;

  background-color:rgba(21.25000063329935,21.25000063329935,21.25000063329935,1.0);

  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:5;
  margin:0;
  padding:0;
  z-index: 2;
}
  
.grid-item-2362512 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.component2362441 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;

  background-color:rgba(21.25000063329935,21.25000063329935,21.25000063329935,1.0);

  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:5;
  margin:0;
  padding:0;
  z-index: 2;
}
  
.grid-item-2362441 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.component2362346 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:1;

  background-color:rgba(21.25000063329935,21.25000063329935,21.25000063329935,1.0);

  grid-column-end:65;
  grid-row-start:1;
  grid-row-end:5;
  margin:0;
  padding:0;
  z-index: 2;
}
  
.grid-item-2362346 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  .containerI23623462362353 {
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 16;
	grid-row-end: 42;
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}


.textI23623462362354 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: left;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 6;
	grid-column-end: 10;
	grid-row-start: 28;
	grid-row-end: 36;
	overflow-wrap: break-word;
	white-space: normal;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}


.containerI23623462362355 {
	grid-column-start: 31;
	grid-column-end: 63;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.textI23623462362356 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 4;
	grid-column-end: 9;
	grid-row-start: 30;
	grid-row-end: 38;
	overflow-wrap: break-word;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}


.textI23623462362357 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 14;
	grid-column-end: 20;
	grid-row-start: 29;
	grid-row-end: 37;
	overflow-wrap: break-word;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}


.textI23623462362358 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 25;
	grid-column-end: 30;
	grid-row-start: 29;
	grid-row-end: 37;
	overflow-wrap: break-word;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}

.containerI23624412362353 {
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 16;
	grid-row-end: 42;
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}


.textI23624412362354 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: left;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 6;
	grid-column-end: 10;
	grid-row-start: 28;
	grid-row-end: 36;
	overflow-wrap: break-word;
	white-space: normal;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}


.containerI23624412362355 {
	grid-column-start: 31;
	grid-column-end: 63;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.textI23624412362356 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 4;
	grid-column-end: 9;
	grid-row-start: 30;
	grid-row-end: 38;
	overflow-wrap: break-word;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}


.textI23624412362357 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 14;
	grid-column-end: 20;
	grid-row-start: 29;
	grid-row-end: 37;
	overflow-wrap: break-word;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}


.textI23624412362358 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 25;
	grid-column-end: 30;
	grid-row-start: 29;
	grid-row-end: 37;
	overflow-wrap: break-word;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}

.containerI23625122362353 {
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 16;
	grid-row-end: 42;
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}


.textI23625122362354 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: left;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 6;
	grid-column-end: 10;
	grid-row-start: 28;
	grid-row-end: 36;
	overflow-wrap: break-word;
	white-space: normal;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}


.containerI23625122362355 {
	grid-column-start: 31;
	grid-column-end: 63;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.textI23625122362356 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 4;
	grid-column-end: 9;
	grid-row-start: 30;
	grid-row-end: 38;
	overflow-wrap: break-word;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}


.textI23625122362357 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 14;
	grid-column-end: 20;
	grid-row-start: 29;
	grid-row-end: 37;
	overflow-wrap: break-word;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}


.textI23625122362358 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 25;
	grid-column-end: 30;
	grid-row-start: 29;
	grid-row-end: 37;
	overflow-wrap: break-word;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}

.containerI23626442362353 {
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 16;
	grid-row-end: 42;
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}


.textI23626442362354 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: left;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 6;
	grid-column-end: 10;
	grid-row-start: 28;
	grid-row-end: 36;
	overflow-wrap: break-word;
	white-space: normal;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}


.containerI23626442362355 {
	grid-column-start: 31;
	grid-column-end: 63;
	grid-row-start: 1;
	grid-row-end: 64;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.textI23626442362356 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 4;
	grid-column-end: 9;
	grid-row-start: 30;
	grid-row-end: 38;
	overflow-wrap: break-word;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}


.textI23626442362357 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 14;
	grid-column-end: 20;
	grid-row-start: 29;
	grid-row-end: 37;
	overflow-wrap: break-word;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}


.textI23626442362358 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: Alatsi;
	text-align: center;
	line-height: 26px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 25;
	grid-column-end: 30;
	grid-row-start: 29;
	grid-row-end: 37;
	overflow-wrap: break-word;
	z-index: 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}

