@import url("//fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.component20538 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:10;
  background:linear-gradient(45.00000000000001deg, rgba(204.76146697998047,212.29725301265717,255.0,255.0), rgba(122.8568771481514,127.37835332751274,153.00000607967377,255.0));
  grid-column-end:56;
  grid-row-start:26;
  box-shadow: 0px 4px 4px 0px rgba(0.0,0.0,0.0,0.25);
  grid-row-end:58;
  border-radius:15.0px;
  margin:0;
  padding:0;
}
  
  
.text20539 {
	font-style: Regular;
	font-weight: 400;
	font-size: 3.351206434316354vw;
	font-family: Inter;
	text-align: left;
	line-height: 91px;
	color: rgba(0.0,0.0,0.0,255.0);
	grid-column-start: 16;
	grid-column-end: 50;
	grid-row-start: 20;
	grid-row-end: 22;
	overflow-wrap: break-word;
	word-break: break-word;
	white-space: normal;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}


.container205310 {
	background-color: rgba(255.0,255.0,255.0,255.0);
	border-radius: 20.0px;
	grid-column-start: 53;
	grid-column-end: 56;
	grid-row-start: 14;
	grid-row-end: 16;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
}

