@import url("//fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.component22238 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:10;
  background:linear-gradient(90.0deg, rgba(204.76146697998047,212.29725301265717,255.0,255.0), rgba(122.8568771481514,127.37835332751274,153.00000607967377,255.0));
  grid-column-end:56;
  grid-row-start:23;
  box-shadow: 0px 4px 4px 0px rgba(0.0,0.0,0.0,0.25);
  grid-row-end:55;
  border-radius:15.0px;
  margin:0;
  padding:0;
}
  
.grid-item-22238 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.text22239 {
	font-style: Regular;
	font-weight: 400;
	font-size: 3.351206434316354vw;
	font-family: Inter;
	text-align: left;
	line-height: 91px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 16;
	grid-column-end: 50;
	grid-row-start: 19;
	grid-row-end: 21;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}


.container222310 {
	background-color: rgba(255.0,255.0,255.0,1.0);
	border-radius: 20.0px;
	grid-column-start: 53;
	grid-column-end: 56;
	grid-row-start: 13;
	grid-row-end: 15;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}

