@import url("//fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.grid-container {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows: repeat(128,minmax(18.6796875px,1fr));
  background-color:rgba(234.29998755455017,234.29998755455017,234.29998755455017,255.0);
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  margin:0;
  padding:0;
}
  
.grid-item {
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.text433697 {
	font-style: Regular;
	font-weight: 400;
	font-size:53px;
	font-family: Inter;
	color: rgba(0.0,0.0,0.0,255.0);
	grid-column-start: 20;
	grid-column-end: 48;
	grid-row-start: 37;
	grid-row-end: 40;
	white-space: nowrap;
}


.container433698 {
	background-color: rgba(158.48957151174545,158.48957151174545,158.48957151174545,255.0);
	border: 1.0px solid rgba(0.0,0.0,0.0,1.0);
	border-radius: 22.0px;
	grid-column-start: 27;
	grid-column-end: 40;
	grid-row-start: 57;
	grid-row-end: 65;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
}


.text433699 {
	font-style: Regular;
	font-weight: 400;
	font-size:40px;
	font-family: Inter;
	color: rgba(255.0,255.0,255.0,255.0);
	grid-column-start: 17;
	grid-column-end: 49;
	grid-row-start: 23;
	grid-row-end: 43;
	white-space: nowrap;
}


.container4338820 {
	background-color: rgba(0.0,0.0,0.0,255.0);
	border-radius: 20.0px;
	grid-column-start: 32;
	grid-column-end: 35;
	grid-row-start: 69;
	grid-row-end: 74;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
}


.text4338822 {
	font-style: Regular;
	font-weight: 400;
	font-size:53px;
	font-family: Inter;
	color: rgba(255.0,255.0,255.0,255.0);
	grid-column-start: 30;
	grid-column-end: 37;
	grid-row-start: 13;
	grid-row-end: 51;
	white-space: nowrap;
}

