@import url("//fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.grid-container {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(128, 18.6796875px);

  background-color:rgba(234.29998755455017,234.29998755455017,234.29998755455017,1.0);
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  margin:0;
  padding:0;
  }
 
.grid-item {
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.text22233 {
	font-style: Regular;
	font-weight: 400;
	font-size: 3.0303030303030303vw;
	font-family: Inter;
	text-align: left;
	line-height: 97px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 20;
	grid-column-end: 48;
	grid-row-start: 37;
	grid-row-end: 40;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}


.container22234 {
	background-color: rgba(158.48957151174545,158.48957151174545,158.48957151174545,1.0);
	border: 1.0px solid rgba(0.0,0.0,0.0,1.0);
	border-radius: 22.0px;
	grid-column-start: 27;
	grid-column-end: 40;
	grid-row-start: 57;
	grid-row-end: 65;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.text22235 {
	font-style: Regular;
	font-weight: 400;
	font-size: 2.272727272727273vw;
	font-family: Inter;
	text-align: center;
	line-height: 73px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 17;
	grid-column-end: 49;
	grid-row-start: 23;
	grid-row-end: 43;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}


.textI2250422237 {
	font-style: Regular;
	font-weight: 400;
	font-size: 3.0303030303030303vw;
	font-family: Inter;
	text-align: center;
	line-height: 97px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 30;
	grid-column-end: 37;
	grid-row-start: 13;
	grid-row-end: 51;
	overflow-wrap: break-word;
	word-wrap: break-word;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: stretch;
}


.searchinputfilter23041263 {
    grid-column-start: 29;
    grid-column-end: 38;
    grid-row-start: 81;
    grid-row-end: 85;
}
.searchinputfilter23041263 .p-inputtext{
   --p-inputtext-background: rgba(6.000000117346644,7.000000057742,27.000000290572643,1.0);
   --p-inputtext-color: rgba({'r': 0.8549999594688416, 'g': 0.8549999594688416, 'b': 0.8549999594688416, 'a': 1.0});
   --p-inputtext-border-radius:4.0px;
}

.searchinputfilter23041263 .p-inputicon{
   margin-top:calc(-1.4 * (var(--p-icon-size)));
}
  
.text22239 {
	font-style: Regular;
	font-weight: 400;
	font-size: 3.351206434316354vw;
	font-family: Inter;
	text-align: left;
	line-height: 91px;
	color: rgba(0.0,0.0,0.0,1.0);
	grid-column-start: 16;
	grid-column-end: 50;
	grid-row-start: 15;
	grid-row-end: 13;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}


.container222310 {
	background-color: rgba(255.0,255.0,255.0,1.0);
	border-radius: 20.0px;
	grid-column-start: 53;
	grid-column-end: 56;
	grid-row-start: 21;
	grid-row-end: 19;
	display: grid;
	grid-template-columns: repeat(64,1fr);
	grid-template-rows: repeat(64,1fr);
	padding: 0;
}


.line222311 {
    grid-column-start: 20;
    grid-column-end: 46;
    grid-row-start: 21;
    grid-row-end: 46;
    background: rgba(55.095075219869614,55.095075219869614,55.095075219869614,1.0);
    width:  32.563720703125px;
    display: block;
    height: 1px;
    border: 0;
    padding: 0;
    transform: rotate(-0.7853982476911467rad);
}
.line222312 {
    grid-column-start: 20;
    grid-column-end: 46;
    grid-row-start: 21;
    grid-row-end: 46;
    background: rgba(55.095075219869614,55.095075219869614,55.095075219869614,1.0);
    width:  32.56396484375px;
    display: block;
    height: 1px;
    border: 0;
    padding: 0;
    transform: rotate(0.7853980791037498rad);
}