@import url("https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

.component23641380 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:8;
  grid-column-end:34;
  grid-row-start:60;
  grid-row-end:65;
  margin:0;
  padding:0;
  background-color:rgba(41.00000135600567,46.000001057982445,57.00000040233135,1.0);

  border-radius: 20.0px;
}
  
.grid-item-23641380 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.textI2364138023641359 {
	font-style: Regular;
	font-weight: 400;
	font-size: 1.2987012987012987vw;
	font-family: ABeeZee;
	text-align: left;
	line-height: 24px;
	color: rgba(130.68749696016312,130.68749696016312,130.68749696016312,1.0);
	grid-column-start: 10;
	grid-column-end: 18;
	grid-row-start: 13;
	grid-row-end: 20;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}


.textI2364138023641360 {
	font-style: Regular;
	font-weight: 400;
	font-size: 0.7142857142857143vw;
	font-family: Raleway;
	text-align: left;
	line-height: 18px;
	color: rgba(130.68749696016312,130.68749696016312,130.68749696016312,1.0);
	grid-column-start: 5;
	grid-column-end: 61;
	grid-row-start: 31;
	grid-row-end: 52;
	overflow-wrap: break-word;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}

.containerI2364138023641361 {
	grid-column-start: 4;
	grid-column-end: 9;
	grid-row-start: 7;
	grid-row-end: 25;
}

