@import url("//fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.component222319 {
  display:grid;
  grid-template-columns:repeat(64,1fr);
  grid-template-rows:repeat(64,1fr);
  grid-column-start:27;
  background-color:rgba(158.48957151174545,158.48957151174545,158.48957151174545,1.0);
  grid-column-end:40;
  grid-row-start:61;
  grid-row-end:69;
  border-radius:22.0px;
  margin:0;
  padding:0;
}
  
.grid-item-222319 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.textI222319222316 {
	font-style: Regular;
	font-weight: 400;
	font-size: 2.272727272727273vw;
	font-family: Inter;
	text-align: left;
	line-height: 73px;
	color: rgba(255.0,255.0,255.0,1.0);
	grid-column-start: 18;
	grid-column-end: 50;
	grid-row-start: 23;
	grid-row-end: 43;
	overflow-wrap: break-word;
	white-space: normal;
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}

