@import url("//fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("//fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.grid-container {
  display:grid;
  grid-template-columns:repeat(16,1fr);
  grid-template-rows: repeat(48,minmax(49.8125px,1fr));
  background-color:rgba(234.29998755455017,234.29998755455017,234.29998755455017,255.0);
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  margin:0;
  padding:0;
}
  
.grid-item {
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
  
.text205314 {
	font-style: Regular;
	font-weight: 400;
	font-size:53px;
	font-family: Inter;
	color: rgba(0.0,0.0,0.0,255.0);
	grid-column-start: 5;
	grid-column-end: 13;
	grid-row-start: 14;
	grid-row-end: 15;
	white-space: nowrap;
}


.container205315 {
	background-color: rgba(158.48957151174545,158.48957151174545,158.48957151174545,255.0);
	border-radius: 22.0px;
	grid-column-start: 7;
	grid-column-end: 11;
	grid-row-start: 22;
	grid-row-end: 25;
}


.text205316 {
	font-style: Regular;
	font-weight: 400;
	font-size:40px;
	font-family: Inter;
	color: rgba(255.0,255.0,255.0,255.0);
	grid-column-start: 1;
	grid-column-end: 10;
	grid-row-start: 7;
	grid-row-end: 12;
	white-space: nowrap;
}

