@import './base.css';
.background-container {
  max-width: 100%; 
  width: 100%; 
  margin: 0 auto;
}

@media (min-width: 1024px) {
  #app {
      padding: 0;
  }
}
#app {
  max-width: 3000px;
  max-height: auto;
  font-weight: normal;
  background-color: white;
}